*{
    padding: 0%;
    box-sizing: border-box;
    margin: 0%;
    font-family: sans-serif;
}

header{
    background-color:#1c3555 ;
    width: 100%;
    padding: 5%;
}
.div-logo{
color: white;
font-family:'Cinzel Decorative', cursive;
}
.sliding-menu{
    width: 70%;
    height: 100vh;
    background-color:#30415c;
    position: fixed;
    top: 0%;
    left: 100%;
    overflow:hidden;
    display:flex;
    justify-content: center;
    padding-top: 3%;
    transition: all 700ms ease;
    z-index: 100;
}
.sliding-menu.active{
    left: 30%;
    transition: all 700ms ease;
}
.nav-menu{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.nav-item{
    list-style: none;
    margin: 5% 5% 0% 45%;
    position: relative;
    width: 100%;
}

.nav-item::before{
    content: '';
    height: 15px;
    width: 8px;
    background-color: #DAA21B;
    position: absolute;
    right: 110%;
    opacity: 0;
    transition: 300ms;
}

.nav-item:hover::before{
    opacity: 1;
}
.nav-link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
}
.nav-link:hover{
    color: rgba(223, 223, 223, 0.829);
}
.checkbox-nav{
    position: fixed;
    top: 0%;
    right: 0%;
    z-index: 150;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}
.hamburger-icon{
    position: fixed;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    ;
    top: 1%;
    right: 0%;
    margin-right: 5px;
    z-index: 140;
}
.hamburger-icon > div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease;
}
.hamburger-icon > div::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    z-index: 10;
    top: 7px;
}
.hamburger-icon > div::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(255, 248, 248);
    z-index: 10;
    top: -7px;
}
.checkbox-nav.active + .hamburger-icon > div{
transform: rotate(135deg);
}
.checkbox-nav.active + .hamburger-icon > div::after,
.checkbox-nav.active + .hamburger-icon > div::before{
    top: 0;
    transform: rotate(90deg);
}

.checkbox-nav.active + nav{
    transform: translateX(0%);
}
.shadow-nav{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    transition: all 700ms ease;
    z-index: -1;
}
.shadow-nav.active{
    z-index: 100;
   background-color: rgba(0, 0, 0, 0.534);
}
.first-img-div{
    width: 100%;
    height: 100px;
    background-image: url(../img/first-img.jpeg);
    background-size: cover;
    z-index: 0;
}
.main-section{
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
}
.first-div{
    margin: 0% 5%;
    position: absolute;
    top: -20px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

h1.main-title{
    font-family: 'Barlow Condensed', sans-serif;
}
.first-div p {
    width: 90%;
    margin: 5% 5%;
    font-size: 12px;
    text-align: center;
    font-family: 'Archivo Narrow','Times New Roman', Times, serif;
}
div.first-section-img{
    width: 100%;
    height: 100px;
    background-image: url(../img/first-section-img.jpeg);
    background-size: cover;
}

.second-section-img{
    
    width: 100%;
    height: 500px;
    background-image: url(../img/second-section-bg.jpeg);
    background-size: cover;
    background-repeat: repeat-y;
    margin-top: 100%;
}

section.second-section{
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
    top: 10%;
    background-color: rgba(0, 13, 49, 0.849);
    height: 100%;
    width: 90%;
    margin: 0% 5%;
}